{% extends 'base.html.twig' %}

{% block title %}Notes – Jean-David Daviet{% endblock %}

{% block header %}<h1><a href="{{ path('index') }}">Jean-David Daviet</a></h1>{% endblock %}

{% block body %}

    <section class="wrapper--narrow">

        {% for note in notes %}

            <article itemtype="https://schema.org/Article" class="article__content">
                <h2 itemprop="name">
                    <a href="{{ path('note', { slug: note.slug }) }}">{{ note.title }}</a>
                    <time datetime="{{ note.createdAt | date("Y-m-d\\TH:i:s") }}" itemprop="datePublished"><small> - {{ note.createdAt | date("d/m/Y") }}</small></time>
                </h2>
                <p>{{ note.excerpt }}</p>
            </article>

        {% endfor %}

    </section>

{% endblock %}
